body {
    color: rgb(88, 88, 88);
}

.deleteSelectedBtn {
    background-color: rgb(255, 55, 88);
    border-radius: 18px;
    padding: 10px 20px;
    color: white;
    font-size: 700;
    border: none;
    margin-left: 5rem;
}

.paginationContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    padding: 0 20px;
    margin-top: 2rem;
}

td,
th {
    font-size: 16px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-left: none;
    border-right: none;
}

.pageTitle {
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-top: 1rem;
    font-weight: 400;
    color: rgb(88, 88, 88);
}

.actionBtn {
    justify-content: center;
    padding: auto;
}

