body {
    color: rgb(88, 88, 88);
}

.editInputField {
    height: 30px;
    outline: none;
    border: 1px solid #da8383;
    padding-left: 8px;
    color:#325b97;
    font-size: 1rem;
}

.editBtn {
    border: none;
    background-color: white;
    font-size: 1.5rem;
    padding-right: 20px;
    color: rgb(88, 88, 88);
    cursor: pointer;
}

.saveBtn {
    border: none;
    background-color: white;
    font-size: 1.5rem;
    padding-right: 20px;
    color: rgb(14, 133, 20);
    cursor: pointer;

}

.deleteBtn {
    color: rgb(219, 91, 91);
    background-color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
}

.deleteSelectedBtn {
    background-color: rgb(255, 55, 88);
    border-radius: 18px;
    padding: 10px 20px;
    color: white;
    font-size: 700;
    border: none;
    margin-left: 5rem;
}

.paginationContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    padding: 0 20px;
    margin-top: 2rem;
}

.SearchInput {
    justify-content: center;
    width: 90.6%;
    height: 30px;
    outline: none;
    border: 1px solid #777777;
    padding-left: 8px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;
    margin-left: 6rem;
}

td,
th {
    font-size: 16px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-left: none;
    border-right: none;
}

.pageTitle {
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-top: 1rem;
    font-weight: 400;
    color: rgb(88, 88, 88);
}

.actionBtn {
    justify-content: center;
    padding: auto;
}

