.pagination{
    margin-right: 40%;
    display: flex;
    gap: 15px;
}

.paginationBtn{
    width: 2rem;
    height:  2rem;
    border-radius: 50%;       
    background-color : rgb(27, 150, 216);
    border: 2px solid rgb(27, 150, 216) ;
    color: white ;    
    font-size: 16px;   
    cursor: pointer;   
    display: flex;      
    align-items: center;
    justify-content: center;
}

.paginationBtnClicked{
    width: 2rem;
    height:  2rem;
    border-radius: 50%;       
    background-color :white;
    border: 2px solid rgb(27, 150, 216) ;
    color: rgb(27, 150, 216) ;    
    font-size: 16px;   
    cursor: pointer;   
    display: flex;      
    align-items: center;
    justify-content: center;
}