.SearchInput {
    justify-content: center;
    width: 90.6%;
    height: 30px;
    outline: none;
    border: 1px solid #777777;
    padding-left: 8px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}